<a href="https://colab.research.google.com/github/ghubesharman/DataSciencePython/blob/main/Experiment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
df = pd.read_csv('/content/swiggy_dataset.csv')
print(df)

          Restaurant Name  Rating  Delivery Time (mins)  Cost for Two (INR)  \
0           Biryani Bliss     4.2                    44                 366
1            Pasta Fiesta     4.4                    46                 473
2             Urban Tadka     3.0                    47                 587
3            Pasta Fiesta     4.9                    35                 800
4            Pasta Fiesta     4.7                    34                 515
5  The Great Indian Diner     3.4                    22                 213
6             Urban Tadka     3.4                    56                 441
7             Urban Tadka     3.4                    26                 976
8             Urban Tadka     3.6                    40                 545
9            Pasta Fiesta     4.0                    28                 764

  Cuisine Type
0      Chinese
1      Mexican
2      Mexican
3      Mexican
4      Mexican
5     American
6      Italian
7       Indian
8      Mexican
9      Chinese

In [ ]:
df = pd.read_csv('/content/zomato_dataset.csv')
print(df)

          Restaurant Name  Rating  Delivery Time (mins)  Cost for Two (INR)  \
0           Biryani Bliss     4.8                    45                 847
1  The Great Indian Diner     4.2                    44                 671
2  The Great Indian Diner     4.8                    48                 262
3           Biryani Bliss     3.2                    34                 338
4            Pasta Fiesta     3.4                    20                 698
5  The Great Indian Diner     3.1                    44                 792
6  The Great Indian Diner     3.7                    26                 591
7           Biryani Bliss     3.8                    28                 874
8  The Great Indian Diner     3.5                    43                 618
9  The Great Indian Diner     4.7                    20                 488

  Cuisine Type
0      Italian
1     American
2      Chinese
3      Chinese
4       Indian
5      Mexican
6       Indian
7      Mexican
8      Chinese
9       Indian

In [ ]:
import pandas as pd

# read the datasets
df1 = pd.read_csv("/content/swiggy_dataset.csv")
df2 = pd.read_csv("/content/zomato_dataset.csv")

concat_data = pd.concat([df1, df2], ignore_index=True)
print(concat_data)

           Restaurant Name  Rating  Delivery Time (mins)  Cost for Two (INR)  \
0            Biryani Bliss     4.2                    44                 366
1             Pasta Fiesta     4.4                    46                 473
2              Urban Tadka     3.0                    47                 587
3             Pasta Fiesta     4.9                    35                 800
4             Pasta Fiesta     4.7                    34                 515
5   The Great Indian Diner     3.4                    22                 213
6              Urban Tadka     3.4                    56                 441
7              Urban Tadka     3.4                    26                 976
8              Urban Tadka     3.6                    40                 545
9             Pasta Fiesta     4.0                    28                 764
10           Biryani Bliss     4.8                    45                 847
11  The Great Indian Diner     4.2                    44                 671
12  The Great Indian Diner     4.8                    48                 262
13           Biryani Bliss     3.2                    34                 338
14            Pasta Fiesta     3.4                    20                 698
15  The Great Indian Diner     3.1                    44                 792
16  The Great Indian Diner     3.7                    26                 591
17           Biryani Bliss     3.8                    28                 874
18  The Great Indian Diner     3.5                    43                 618
19  The Great Indian Diner     4.7                    20                 488

   Cuisine Type
0       Chinese
1       Mexican
2       Mexican
3       Mexican
4       Mexican
5      American
6       Italian
7        Indian
8       Mexican
9       Chinese
10      Italian
11     American
12      Chinese
13      Chinese
14       Indian
15      Mexican
16       Indian
17      Mexican
18      Chinese
19       Indian

In [ ]:
filtered_df = df[df['Rating'] > 3]
print(filtered_df)

          Restaurant Name  Rating  Delivery Time (mins)  Cost for Two (INR)  \
0           Biryani Bliss     4.8                    45                 847
1  The Great Indian Diner     4.2                    44                 671
2  The Great Indian Diner     4.8                    48                 262
3           Biryani Bliss     3.2                    34                 338
4            Pasta Fiesta     3.4                    20                 698
5  The Great Indian Diner     3.1                    44                 792
6  The Great Indian Diner     3.7                    26                 591
7           Biryani Bliss     3.8                    28                 874
8  The Great Indian Diner     3.5                    43                 618
9  The Great Indian Diner     4.7                    20                 488

  Cuisine Type
0      Italian
1     American
2      Chinese
3      Chinese
4       Indian
5      Mexican
6       Indian
7      Mexican
8      Chinese
9       Indian

In [ ]:
import random

sample_size = 5
sample_df = df.sample(n=sample_size)

rating_column = sample_df['Rating']

print(rating_column)

1    4.2
9    4.7
5    3.1
4    3.4
8    3.5
Name: Rating, dtype: float64